<div class="container">
    <h1>View Pet {{ id }}</h1>

    <a href="#" routerLink="/pets/index" class="btn btn-primary">Back</a>

    <div>
        <strong>custumerId:</strong>
        <p>{{ pet.custumerId }}</p>
    </div>

    <div>
        <strong>chipNumber:</strong>
        <p>{{ pet.chipNumber }}</p>
    </div>

    <div>
        <strong>name:</strong>
        <p>{{ pet.name }}</p>
    </div>

    <div>
        <strong>birthDate:</strong>
        <p>{{ pet.birthDate.year }}-{{ pet.birthDate.month }}-{{ pet.birthDate.day }}</p>
    </div>

    <div>
        <strong>species:</strong>
        <p>{{ pet.species }}</p>
    </div>

    <div>
        <strong>race:</strong>
        <p>{{ pet.race }}</p>
    </div>

    <div>
        <strong>description:</strong>
        <p>{{ pet.description }}</p>
    </div>

    <div>
        <strong>photoURL:</strong>
        <p>{{ pet.photoURL }}</p>
    </div>

</div>