<div class="container">
    <h1>View Custumer</h1>

    <a href="#" routerLink="/custumers/index" class="btn btn-primary">Back</a>

    <div>
        <strong>ID:</strong>
        <p>{{ custumer._id }}</p>
    </div>

    <div>
        <strong>DNI:</strong>
        <p>{{ custumer.dni }}</p>
    </div>

    <div>
        <strong>Full name:</strong>
        <p>{{ custumer.firstName }} {{ custumer.lastName }}</p>
    </div>

    <div>
        <strong>Phone number:</strong>
        <p>{{ custumer.phoneNumber }}</p>
    </div>

    <div>
        <strong>Email:</strong>
        <p>{{ custumer.email }}</p>
    </div>

    <div>
        <strong>Note:</strong>
        <p>{{ custumer.note }}</p>
    </div>

</div>